{% extends 'base.html' %}

{% block title %}
<h1 class="page-title">About</h1>
{% endblock %}

{% block main %}

<main class="bg-lightp">

<div>
    <div class="div-center div-center-spacer">
        <img src="static/images/team-banner.jpg" alt="" class="rounded-top">
            <p class="lead text-mute pad rounded-bottom">Our team is dedicated to fulfilling your deires to look your true and authentic self, what ever that takes.
                We work around the clock to ensure that our customers are treated with the care they deserve and require in all areas represented by our brand.
                <br>
                Below you can see some of our commitments to making the world a better and more inclusive place.
            </p>
    </div>
</div>
<div>
    <div class="album py-5 bg-lightp">
        <div class="container">

            <div class="tri-col">
                <div class="col">
                </div>
                <div class="col">
                    <div class="div-center">
                        <img src="static/images/blm-banner.jpg" alt="" class="rounded-top">
                        <p class="lead text-mute pad rounded-bottom">We believe that freedom only means something when it is given freely,
                            this is why we stand for racial equality.
                        </p>
                    </div>
                    <div class="div-center">
                        <img src="static/images/pride-banner.jpg" alt="" class="rounded-top">
                        <p class="lead text-mute pad rounded-bottom">We believe that good cosmetics should be enjoyed by everyone, regardless of
                            what makes them who they are, for this reason we proudly support a diverse range of groups from LGBTQIA+ to ethnic minorities
                            around the country.
                        </p>
                    </div>
                    <div class="div-center">
                        <img src="static/images/mermaids.png" alt="" class="rounded-top">
                        <p class="lead text-mute pad rounded-bottom">We are pround to be partnered with Mermaids, a UK charity that helps
                            fight for transgender rights and equality.
                        </p>
                    </div>
                </div>
</div>

</main>

{% endblock %}