{% extends 'base.html' %}

{% block title %}
<h1 class="page-title">Contact us</h1>
{% endblock %}

{% block main %}

<main class="bg-lightp">

<div>
    <div class="div-center div-center-spacer">
        <img src="static/images/support-banner.jpg" alt="" class="rounded-top">
            <p class="lead text-mute pad rounded-bottom">Our goal is to support our clients.
                <br>
                If you feel as though you need to contact us for any reason, please follow the directions below.
            </p>
    </div>
</div>
<div>
    <div class="album py-5 bg-lightp">
        <div class="container">

            <div class="tri-col">
                <div class="col">
                </div>
                <div class="col">
                    <div class="div-center">
                        <img src="static/images/phone.jpg" alt="" class="rounded-top">
                        <p class="lead text-mute pad rounded-bottom">Contact us over the phone on:
                            <br>
                            🇨🇦 CAN: +1-555-181-5449
                            <br>
                            🇺🇸 US:  +1-555-178-4893
                            <br>
                            🇬🇧 UK:  +44-745-558-0773
                            <br>
                            🇮🇪 IRE: +44-533-555-7360
                        </p>

                    </div>
                    <div class="div-center">
                        <img src="static/images/email-banner.jpg" alt="" class="rounded-top">
                        <p class="lead text-mute pad rounded-bottom">Contact us by email at:
                            <br>
                            Alison.Support@Vitalcosmetics.com
                            <br>
                            Craig.Support@Vitalcosmetics.com
                            <br>
                            Arron.Support@Vitalcosmetics.com
                        </p>
                    </div>
                    <div class="div-center">
                        <img src="static/images/mind-banner.png" alt="" class="rounded-top">
                        <p class="lead text-mute pad rounded-bottom">Need a mental health check?
                            <br>
                            you can find help here:
                            <a href="https://www.mind.org.uk/" class="link-align">Mind.org.uk</a>
                        </p>
                    </div>
                </div>
</div>

</main>

{% endblock %}