{% extends 'base.html' %}

{% block title %}
<h1 class="page-title">Products</h1>
{% endblock %}

{% block main %}
<main>

    <div class="album py-5 bg-lightp">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/images/grape-np.jpg" alt="">

                        <div class="card-body bg-dark">
                            <h1>Grape</h1>
                            <p class="card-text">Go the extra mile in this long-lasting violet nail polish.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Sold out</button>
                                </div>
                                <p class="price">£9</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/images/rainbows-np.jpg" alt="">

                        <div class="card-body bg-dark">
                            <h1>Electrode</h1>
                            <p class="card-text">Glisten big time in this long-lasting electric green nail polish.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Sold out</button>
                                </div>
                                <p class="price">£9</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/images/bigpink-np.jpg" alt="">

                        <div class="card-body bg-dark">
                            <h1>Pink</h1>
                            <p class="card-text">Go big or go home in this long-lasting pink nail polish.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Sold out</button>
                                </div>
                                <p class="price">£9</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/images/sugar-np.jpg" alt="">

                        <div class="card-body bg-dark">
                            <h1>Sugar</h1>
                            <p class="card-text">Crush your goals in this long-lasting light pink nail polish. </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Sold out</button>
                                </div>
                                <p class="price">£9</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/images/sky-np.jpg" alt="">

                        <div class="card-body bg-dark">
                            <h1>Sky</h1>
                            <p class="card-text">Show off hue you are in this long-lasting light blue nail polish.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Sold out</button>
                                </div>
                                <p class="price">£9</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/images/sunrise-np.jpg" alt="">

                        <div class="card-body bg-dark">
                            <h1>Sunrise</h1>
                            <p class="card-text">Rays your voice in this long-lasting coral nail polish.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Sold out</button>
                                </div>
                                <p class="price">£9</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/images/feel-np.jpg" alt="">

                        <div class="card-body bg-dark">
                            <h1>Aquamarine</h1>
                            <p class="card-text">Do hue in this seriously bold long-lasting torquoise nail polish.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Sold out</button>
                                </div>
                                <p class="price">£9</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/images/bright-np.jpg" alt="">

                        <div class="card-body bg-dark">
                            <h1>Bright</h1>
                            <p class="card-text">Make a statement in this long-lasting hot pink nail polish.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Sold out</button>
                                </div>
                                <p class="price">£9</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static/images/mango-np.jpg" alt="">

                        <div class="card-body bg-dark">
                            <h1>Mango</h1>
                            <p class="card-text">The shimmer finish will glisten 24/7. No dulling.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Sold out</button>
                                </div>
                                <p class="price">£9</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}